@model Web.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
</style>
<div class="banner1">
    <div class="container">
        <h3><a href="/">Trang chủ</a> / <span>Liên hệ</span></h3>
    </div>
</div>

<input type="hidden" id="lat" value="@Model.ContactDetail.Lat" />
<input type="hidden" id="lng" value="@Model.ContactDetail.Lng" />
<div class="content">
    <!--contact-->
    <div class="mail-w3ls">
        <div class="container">
            <h2 class="tittle">Thông tin liên hệ</h2>
            <div class="mail-grids">
                <div class="mail-top">
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <h5>Địa chỉ</h5>
                        <p>@Model.ContactDetail.Address</p>
                    </div>
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                        <h5>Điện thoại</h5>
                        <p>Telephone:  @Model.ContactDetail.Phone</p>
                    </div>
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                        <h5>E-mail</h5>
                        <p>E-mail:<a href="mailto:example@mail.com"> @Model.ContactDetail.Email</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="map-w3">
                    <div id="map"></div>
                </div>
                <div class="mail-bottom">
                    <h4>Liên lạc với chúng tôi</h4>
                    @using (Html.BeginForm("SenFeedback", "ContactDetail", FormMethod.Post))
                    {
                        if (ViewData["SuccessMsg"] != null)
                        {
                            <div class="alert alert-success" role="alert">
                                <strong>Chúc mừng bạn! </strong> gửi phản hồi thành công.
                                <br />Chúng tôi sẽ liên hệ lại sớm nhất có thể.
                            </div>
                        }
                        @Html.AntiForgeryToken();
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        @Html.TextBoxFor(x => x.Name, new { @placeholder = "Họ tên" })

                        @Html.TextBoxFor(x => x.Email, new { type = "email", @placeholder = "Email" })

                        @Html.TextBoxFor(x => x.Phone, new { @placeholder = "Điện thoại" })

                        @Html.TextAreaFor(x => x.Message, new { @rows = "5", @placeholder = "Tin nhắn của bạn" })

                        <div>
                            @{MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                            }
                            @Html.Captcha(exampleCaptcha)<br />
                            @Html.TextBox("CaptchaCode")
                            <div class="clearfix"></div>
                        </div><br />
                        <input type="submit" value="Gửi">
                        <input type="reset" value="Nhập lại">
                    }
                </div>
            </div>
        </div>
    </div>
    <!--contact-->
</div>

<script src="~/Assets/client/js/controllers/contact.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzxucoCn8j_10N3QC5EMoj8GXw-UIRAgk&callback=initMap">
</script>

