@model Web.Models.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!--slide-->
@{ Html.RenderAction("SlidePartial", "Home");}

<div class="content">
    <!--new-arrivals-->
    <!--new-arrivals-->
    <!--accessories-->
    <!--accessories-->
    <!--Products-->
    <div class="product-agile">
        <div class="container">
            <h3 class="tittle1"> Sản phẩm mới nhất</h3>
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li>
                            <div class="caption">
                                @foreach (var item in Model.LastestProducts.Take(4))
                                {
                                    var url = "/" + item.Alias + ".p-" + item.ID + ".html";
                                    <div class="col-md-3 cap-left simpleCart_shelfItem">
                                        <div class="grid-arr">
                                            <div class="grid-arrival">
                                                <figure>
                                                    <a href="@url">
                                                        <div class="grid-img">
                                                            <img src="@item.Image1" class="img-responsive" alt="">
                                                        </div>
                                                        <div class="grid-img">
                                                            <img src="@item.Image" class="img-responsive" alt="">
                                                        </div>
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="block">
                                                <div class="starbox small ghosting"> </div>
                                            </div>
                                            <div class="women">
                                                <h6><a href="@url">@item.Name</a></h6>
                                                <span class="size">@item.Size</span>
                                                <p>
                                                    @if (item.PromotionPrice.HasValue)
                                                    {
                                                        <del>@(item.Price == 0 ? "Liên hệ" : item.Price.ToString("N0"))</del>
                                                        <em class="item_price">@item.PromotionPrice.Value.ToString("N0")</em>
                                                    }
                                                    else
                                                    {
                                                        <em class="item_price">@(item.Price == 0 ? "Liên hệ" : item.Price.ToString("N0"))</em>
                                                    }
                                                </p>

                                                <a href="#" data-id="@item.ID" data-text="Add To Cart" class="my-cart-b item_add btnAddToCart">Thêm giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="caption">
                                @foreach (var item in Model.LastestProducts.Skip(4))
                                {
                                    var url = "/" + item.Alias + ".p-" + item.ID + ".html";
                                    <div class="col-md-3 cap-left simpleCart_shelfItem">
                                        <div class="grid-arr">
                                            <div class="grid-arrival">
                                                <figure>
                                                    <a href="@url">
                                                        <div class="grid-img">
                                                            <img src="@item.Image1" class="img-responsive" alt="">
                                                        </div>
                                                        <div class="grid-img">
                                                            <img src="@item.Image" class="img-responsive" alt="">
                                                        </div>
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="block">
                                                <div class="starbox small ghosting"> </div>
                                            </div>
                                            <div class="women">
                                                <h6><a href="@url">@item.Name</a></h6>
                                                <span class="size">@item.Size</span>
                                                <p>
                                                    @if (item.PromotionPrice.HasValue)
                                                    {
                                                        <del>@(item.Price == 0 ? "Liên hệ" : item.Price.ToString("N0"))</del>
                                                        <em class="item_price">@item.PromotionPrice.Value.ToString("N0")</em>
                                                    }
                                                    else
                                                    {
                                                        <em class="item_price">@(item.Price == 0 ? "Liên hệ" : item.Price.ToString("N0"))</em>
                                                    }
                                                </p>

                                                <a href="#" data-id="@item.ID" data-text="Add To Cart" class="my-cart-b item_add btnAddToCart">Thêm giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Products-->
    <div class="latest-w3">
        <div class="container">
            <h3 class="tittle1">Xu hướng thời trang mới nhất</h3>
            <div class="latest-grids">
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="/Assets/client/images/l1.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Men</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-50%</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="/Assets/client/images/l2.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Shoes</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-20%</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="/Assets/client/images/l3.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Women</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-50%</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="latest-grids">
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="/Assets/client/images/l4.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Watch</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-45%</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="/Assets/client/images/l5.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Bag</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-10%</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="/Assets/client/images/l6.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Cameras</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-30%</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="new-arrivals-w3agile">
        <div class="container">
            <h3 class="tittle1">Sản phẩm bán chạy</h3>
            <div class="arrivals-grids">
                @foreach (var item in Model.TopSaleProducts)
                {
                    var url = "/" + item.Alias + ".p-" + item.ID + ".html";
                    <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a href="@url">
                                        <div class="grid-img">
                                            <img src="@item.Image1" class="img-responsive" alt="">
                                        </div>
                                        <div class="grid-img">
                                            <img src="@item.Image" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                </figure>
                            </div>
                            <div class="ribben">
                                <p>MỚi</p>
                            </div>
                            <div class="ribben1">
                                <p>SALE</p>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a href="@url">@item.Name</a></h6>
                                <span class="size">@item.Size</span>
                                <p>
                                    @if (item.PromotionPrice.HasValue)
                                    {
                                        <del>@(item.Price == 0 ? "Liên hệ" : item.Price.ToString("N0"))</del>
                                        <em class="item_price">@item.PromotionPrice.Value.ToString("N0")</em>
                                    }
                                    else
                                    {
                                        <em class="item_price">@(item.Price == 0 ? "Liên hệ" : item.Price.ToString("N0"))</em>
                                    }
                                </p>

                                <a href="#" data-id="@item.ID" data-text="Add To Cart" class="my-cart-b item_add btnAddToCart">Thêm giỏ hàng</a>
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--new-arrivals-->
</div>
